<div class="author">
	<figure class="author-avatar"><img class="avatar-image" src="{{author.image}}" alt="{{author.name}}"></figure>
	<p class="author-name">{{author.name}}</p>
	<p class="author-bio">{{author.bio}}</p>
	{{#if author.location}} <p class="author-location">{{author.location}}</p> {{/if}}
</div>