<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>{{meta_title}}</title>
	<meta name="description" content="{{meta_description}}" />
	<!-- FB Open Graph -->
	<meta property="og:locale" content="en_US" />
	<meta property="og:site_name" content="{{@blog.title}}" />
	<meta property="fb:admins" content="611546862" />
	{{#post}}
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{title}}" />
	<meta property="og:url" content="{{url absolute='true'}}" />
	<meta property="og:description" content="{{excerpt words="10"}}&hellip;" />
	{{/post}}
	<!-- Google Authorship -->
	<link rel="author" href="https://plus.google.com/114947731091250999907" title="Jeremy Herve on Google+" /> 
	<!-- Twitter Cards -->
	<meta name="twitter:site" content="@jeherve" />
	{{#post}}
	<meta name="twitter:card" content="summary" />
	{{/post}}

	<meta name="viewport" content="width=device-width">

	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="shortcut icon" href="/assets/img/favicon.png" />
	<link href="/assets/css/style.css" rel="stylesheet" />

	{{ghost_head}}

</head>
<body class="{{body_class}}">

	{{> header}}

	<div id="page">

		<div id="content">
			{{{body}}}
		</div><!-- #content -->

	</div><!-- #page -->

	{{> footer}}

	{{ghost_foot}}

	<script src="/assets/js/jquery.fitvids.js"></script>
	<script src="/assets/js/highlight.pack.js"></script>
	<script src="/assets/js/scripts.js"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-1697171-17', 'jeremy.hu');
		ga('send', 'pageview');
	</script>
</body>
</html>
