{{!< default}}

{{#post}}
<article class="{{post_class}}">

	<h1><a href="{{ url absolute="true" }}">{{ title }}</a></h1>

	<div class="post-content">{{ content }}</div>

	<p class="meta">{{tags separator=", "}} | Posted on <span class="postdate">{{date format="MMM Do, YYYY"}}</span></p>

</article>
{{/post}}